In [1]:
import pandas as pd
import io

In [2]:
url = "https://space-facts.com/mars/"

In [3]:
tables = pd.read_html(url)
# tables

In [4]:
mars_table = tables[0]
# mars_table.head(10)

In [5]:
mars_table.rename(columns={0:"Description",1:"Mars"},inplace= True)

In [6]:
mars_table.set_index("Description",inplace=True)

In [7]:
# Output the dataframe as a table
# mars_table.to_html('mars_table_output.html')

In [8]:
str_io = io.StringIO()

mars_table.to_html(buf=str_io, classes='table')

mars_table_html_str = str_io.getvalue()

# print(mars_table_html_str)

In [10]:
# print(mars_table_html_str)

<table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>